# Игнорирование файлов данных
exchange_rates.json
exchange_rate_changes.log

# Игнорирование системных файлов
__pycache__/
*.pyc
*.pyo

# Игнорирование виртуального окружения
venv/
.env

# Игнорирование файлов среды разработки
.vscode/
.idea/
.DS_Store